.issuuembed{
	margin-top: 75px;
	<script>
		var myYumpu = new Yumpu();
		myYumpu.create_player("#yumpuMagazineContainer", "", { lang:"en", embed_id:"i63fcMQe8G5NU7zC", embedded:true } );
	</script>
}
#column1{
	margin-left: 15%;
	margin-bottom: 40px;
	float: left;
}
#column2{
	float: left;
	margin-left: 15%;
	margin-bottom: 40px;
}
#archivecredit{
        font-family: "Lucida Console";
        font-size: 9px;
	float: center;
        color: #CDCDCE;
        margin-top: 94%;
}
a{
        color: transparent;
}
body{
	color: transparent;
}
